<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link rel="shortcut icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet" th:href="@{/css/ie10-viewport-bug-workaround.css}"/>
		<link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
		<link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <title>Yer Kamay - Becas</title>
  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
            	aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html" th:href="@{/}">Ministerio</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Terapias</a>
                <ul class="dropdown-menu">
                  <li><a href="tpsicologicas.html" th:href="@{/tpsicologicas}">Psicológicas</a></li>
									<li><a href="tinfantil.html" th:href="@{/tinfantil}">Niños y Niñas</a></li>
									<li><a href="tadolescentes.html" th:href="@{/adolescentes}">Adolescentes</a></li>
									<li><a href="tespiritual.html" th:href="@{/tespiritual}">Espiritual / Consejería</a></li>
									<li><a href="tgapoyo.html" th:href="@{/tgapoyo}">Grupos de Apoyo</a></li>
									<li><a href="taromaterapia.html" th:href="@{/taromaterapia}">Aromaterapia y Relajación</a></li>
									<li><a href="tpsicosomaticas.html" th:href="@{/tpsicosomaticas}">Enfermedades Psicosomáticas</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conferencias</a>
                <ul class="dropdown-menu">
                  <li><a href="talleres.html" th:href="@{/talleres}">Talleres</a></li>
									<li><a href="capacitaciones.html" th:href="@{/capacitaciones}">Capacitaciones</a></li>
									<li><a href="coaching.html" th:href="@{/coaching}">Coaching</a></li>
                </ul>
              </li>
              <li class="active"><a href="csocial.html" th:href="@{/csocial}">Compromiso Social</a></li>
              <li><a href="saludintegral.html" th:href="@{/saludintegral}">Salud Integral</a></li>
							<li><a href="donaciones.html" th:href="@{/donaciones}">Donaciones y Ofrendas</a></li>
							<li><a href="testimonios.html" th:href="@{/testimonios}">Testimonios</a></li>
							<li><a href="contacto.html" th:href="@{/contacto}">Contacto</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      
      <div class="row featurette">
        <div class="container">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Becas</h2>
            <p class="lead text-justify">
            	Beca a un niño, niña, adolescente o mujer con el 50% de un proceso Terapéutico Integral. Este consiste en: 
            </p>
            <ul class="lead">
              <li>Paquete de Terapias Psicológicas (va desde 4 a 8 sesiones dependiendo del caso)</li>
              <li>Terapia Espiritual</li>
              <li>Nutrición (charla y seguimiento grupal)</li>
              <li>
              	Se puede donar quincenalmente o por mes, por un niño, niña, adolescente o mujer, becado. 
              	Ellos recibirán al mes dos sesiones de terapia psicológica, atención en el área espiritual, 
              	esto son sesiones de consejería adicionales, y asesoría y guía de una nutricionista, para 
              	mejorar su alimentación.
              </li>
            </ul>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree1.jpg" 
           		alt="Generic placeholder image" th:src="@{img/arboles/tree1.jpg}"/>
          </div>
        </div>
      </div>  

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Sesiones</h2>
            <p class="lead text-justify">
            	En las primeras sesiones se les informará a los socios y socias, cuánto va a durar el tratamiento, 
            	se les dará un informe de los avances, salvaguardando la privacidad de los y las pacientes. 
            	¿Cuándo se acaben las sesiones, que pasa? Podrían seguir cambiando la vida de otro niño, niña, 
            	adolescente o mujer, es decir continuar becando a otra persona.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree3.gif" 
            	alt="Generic placeholder image" th:src="@{img/arboles/tree3.gif}"/>
          </div>
        </div>
      </div>

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">¿Cómo se escogen a los y las becadas?</h2>
            <p class="lead text-justify">Hay dos formas de escogerlos: </p>
            <ul class="lead">
              <li>El socio o la socia traen a alguien que quieran becar.</li>
              <li>Se selecciona una persona de la lista de candidatos manejada por nosotros.</li>
            </ul>
            <p class="lead text-justify">
            	En ambos casos los y las candidatas deben pasar un proceso de selección, ya que se debe garantizar que 
            	realmente necesitan la beca, para que asi el programa cumpla su cometido, que es ayudar a las personas 
            	de escasos recursos, que no tienen acceso a este tipo de programas.
            </p>
            <h2 class="featurette-heading">¿ A cuántas personas puedo becar?</h2>
            <p class="lead text-justify">A las que esté a su alcance.</p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree1.jpg" 
            	alt="Generic placeholder image" th:src="@{img/arboles/tree1.jpg}"/>
          </div>
        </div>
      </div> 

      <hr class="featurette-divider"/>

      <div class="row">
        <div class="container">
          <iframe class="youtube-player center-block" width="760" height="458" src="https://www.youtube.com/embed/crGT26tO-1g" 
            frameborder="0" allowfullscreen="true">
          </iframe>
        </div>
      </div>

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Para mayor <span class="text-muted">información</span></h2>
            <p class="lead"><em>Si quieres saber más no dudes en contactarnos</em></p>
            <p>
            	<a class="btn btn-lg btn-primary" href="contacto.html" th:href="@{/contacto}" role="button">
            		Cita Previa
            	</a>
            </p>
          </div>
          <div class="col-md-5">
            <img class="img-circle featurette-image img-responsive center-block" src="../static/img/arboles/tree4.jpg" 
            	alt="Generic placeholder image" th:src="@{img/arboles/tree4.jpg}"/>
          </div>
        </div>
      </div>

      <div id="push"></div>

    </div> <!-- end wrap -->

    <div id="page-footer" th:replace="fragments/footer :: footer">
			<div class="container">
				<p>Yer Kamay Copyright &copy; 2016, All Rights Reserved</p>
				<ul class="list-inline banner-social-buttons">
					<li>
						<a href="#" class="btn btn-default btn-sm">
							<i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span>
						</a>
					</li>
					<li>
						<a href="#" class="btn btn-default btn-sm">
							<i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span>
						</a>
					</li>
					<li>
						<a href="#" class="btn btn-default btn-sm">
							<i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

    <script src="../static/js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
		<script src="../static/js/ie-emulation-modes-warning.js" th:src="@{/js/ie-emulation-modes-warning.js}"></script>
		<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
		
  </body>
</html>