<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link rel="shortcut icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet" th:href="@{/css/ie10-viewport-bug-workaround.css}"/>
		<link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
		<link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <title>Yer Kamay - Coaching</title>
  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
            	aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html" th:href="@{/}">Ministerio</a></li>
              <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Terapias</a>
                <ul class="dropdown-menu">
                  <li><a href="tpsicologicas.html" th:href="@{/tpsicologicas}">Psicológicas</a></li>
									<li><a href="tinfantil.html" th:href="@{/tinfantil}">Niños y Niñas</a></li>
									<li><a href="tadolescentes.html" th:href="@{/tadolescentes}">Adolescentes</a></li>
									<li><a href="tespiritual.html" th:href="@{/tespiritual}">Espiritual / Consejería</a></li>
									<li><a href="tgapoyo.html" th:href="@{/tgapoyo}">Grupos de Apoyo</a></li>
									<li><a href="taromaterapia.html" th:href="@{/taromaterapia}">Aromaterapia y Relajación</a></li>
									<li><a href="tpsicosomaticas.html" th:href="@{/tpsicosomaticas}">Enfermedades Psicosomáticas</a></li>
                </ul>
              </li>
              <li class="active dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conferencias</a>
                <ul class="dropdown-menu">
                  <li><a href="talleres.html" th:href="@{/talleres}">Talleres</a></li>
									<li><a href="capacitaciones.html" th:href="@{/capacitaciones}">Capacitaciones</a></li>
									<li class="active"><a href="coaching.html" th:href="@{/coaching}">Coaching</a></li>
                </ul>
              </li>
              <li><a href="csocial.html" th:href="@{/csocial}">Compromiso Social</a></li>
							<li><a href="saludintegral.html" th:href="@{/saludintegral}">Salud Integral</a></li>
							<li><a href="donaciones.html" th:href="@{/donaciones}">Donaciones y Ofrendas</a></li>
							<li><a href="testimonios.html" th:href="@{/testimonios}">Testimonios</a></li>
							<li><a href="contacto.html" th:href="@{/contacto}">Contacto</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      
      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree4.jpg" 
          	alt="Generic placeholder image" th:src="@{img/arboles/tree4.jpg}"/>
        </div>
        <div class="col-md-4">
          <h2 class="featurette-heading text-center">Coaching</h2>
          <p class="lead text-justify">
          	Creemos firmemente que cada persona nace con un <strong><em>propósito de vida</em></strong> y nuestra misión 
          	es guiarlos a encontrarlo, saber de dónde venimos y hacia dónde vamos es fundamental para encontrar la plenitud 
          	además de desarrollar todo nuestro potencial. Nos especializamos en diferentes Tipos de Coaching:
          </p>
          <ul class="lead">
            <li>Espiritual</li>
            <li>Personal</li>
            <li>Liderazgo</li>
            <li>Emprendedores</li>
            <li>Cognitivo</li>
            <li>Mujer</li>
          </ul> 
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree4.jpg" 
          	alt="Generic placeholder image" th:src="@{img/arboles/tree4.jpg}"/>
        </div>
      </div>
      
      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Coaching <span class="text-muted">Espiritual</span></h2>
            <p class="lead text-justify">
            	Está diseñado para guiar, orientar y acompañar en el crecimiento espiritual de cada persona. 
            	Se trabaja por medio de grupos y/o conferencias. <strong><em>Nuestro principio está en Jesucristo,
            	guiados por el Espíritu Santo. NO RELIGION.</em></strong> Está diseñado para todas aquellas personas 
            	que deseen conocer a Jesús, y tener un crecimiento espiritual, además que esten cansadas de las religiones.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../static/img/coaching/paloma.png" 
            	alt="Generic placeholder image" th:src="@{img/coaching/paloma.png}"/>
          </div>
        </div>
      </div>

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Coaching <span class="text-muted">Personal</span></h2>
            <p class="lead text-justify">
            	Se enfoca en <strong><em>todas las áreas del ser humano</em></strong>, desempeño laboral, desenvolvimiento social, 
            	estado físico, relaciones afectivas, situación nutricional, metas personales, entre otros. Además de guiar hacia 
            	el autoconocimiento. Está diseñado tanto para grupos pequeños como para conferencias magistrales.
            </p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="../static/img/coaching/couple.jpg" 
            	alt="Generic placeholder image" th:src="@{img/coaching/couple.jpg}"/>
          </div>
        </div>
      </div>  

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Coaching para <span class="text-muted">Liderazgo</span></h2>
            <p class="lead text-justify">
            	<strong><em>Cada ser humano nació para ser un líder</em></strong>, liderar no es mandar o dominar personas, 
            	es liderar su propia vida y desarrollar todo su potencial. Además de aprender a ejercer el liderazgo en puestos 
            	de jerarquía. Recomendado para el Liderazgo de Iglesias.
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../static/img/coaching/trabajo_equipo.png" 
            	alt="Generic placeholder image" th:src="@{img/coaching/trabajo_equipo.png}"/>
          </div>
        </div>
      </div>

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Coaching para <span class="text-muted">Emprendedores</span></h2>
            <p class="lead text-justify">
            	Guiar y orientar a los (as) emprendedores, a alcanzar metas específicas y lograr el máximo rendimiento posible 
            	de acuerdo con las capacidades, recursos y habilidades naturales de cada quien además de brindarles <strong><em>
            	herramientas para el crecimiento de sus ideas.</em></strong>
            </p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="../static/img/coaching/idea.jpg" 
            	alt="Generic placeholder image" th:src="@{img/coaching/idea.jpg}"/>
          </div>
        </div>
      </div>
      
      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Coaching <span class="text-muted">Cognitivo</span></h2>
            <p class="lead text-justify">
            	Nuestros pensamientos rigen nuestra conducta, sino modificamos nuestros pensamiento no podremos
            	modificar esos hábitos que queremos mejorar. Una creencia irracional es la que nos lleva a tener 
            	conductas que no deseamos o la que nos detiene a conseguir aquello que anhelamos. 
            	<strong><em>Si cambiamos el pensamiento cambiaremos la acción.</em></strong>
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../static/img/coaching/cognitivo.png" 
            	alt="Generic placeholder image" th:src="@{img/coaching/cognitivo.png}"/>
          </div>
        </div>
      </div>

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Coaching <span class="text-muted">Mujer</span></h2>
            <p class="lead text-justify">
            	Este coaching está dirigido principalmente a mujeres, con el objetivo de <strong><em>empoderarlas</em></strong> 
            	y abordar temas como machismo, violencia de género, acoso, género, feminismo, abuso, sororidad, entre otros temas.
            </p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="../static/img/coaching/mujeres.png" 
            	alt="Generic placeholder image" th:src="@{img/coaching/mujeres.png}"/>
          </div>
        </div>
      </div> 

      <hr class="featurette-divider"/>

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Para mayor <span class="text-muted">información</span></h2>
            <p class="lead">
            	<em>Cada Conferencia de Coaching se cotiza por separado de acuerdo con las necesidades de cada cliente. 
            	Envíanos este <a href="formulario.html" th:href="@{/formulario}">formulario</a> y te enviaremos la propuesta 
            	que mejor se ajuste a tus necesidades o si quieres saber más no dudes en contactarnos</em>
            </p>
            <p>
            	<a class="btn btn-lg btn-primary" href="contacto.html" role="button" th:href="@{/contacto}">
            		Cita Previa
            	</a>
            </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree1.jpg" 
            	alt="Generic placeholder image" th:src="@{img/arboles/tree1.jpg}"/>
          </div>
        </div>
      </div>

      <div id="push"></div>

    </div> <!-- end wrap -->

    <div id="page-footer" th:replace="fragments/footer :: footer">
			<div class="container">
				<p>Yer Kamay Copyright &copy; 2016, All Rights Reserved</p>
				<ul class="list-inline banner-social-buttons">
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a></li>
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a></li>
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google</span></a></li>
				</ul>
			</div>
		</div>

    <script src="../static/js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
		<script src="../static/js/ie-emulation-modes-warning.js" th:src="@{/js/ie-emulation-modes-warning.js}"></script>
		<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  
  </body>
</html>