<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ministerio Internacional Yer Kamay</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Ministerio</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Terapias</a>
                <ul class="dropdown-menu">
                  <li><a href="tpsicologicas.html">Psicológicas</a></li>
                  <li><a href="tinfantil.html">Niños y Niñas</a></li>
                  <li><a href="tadolescentes.html">Adolescentes</a></li>
                  <li><a href="tespiritual.html">Espiritual / Consejería</a></li>
                  <li><a href="tgapoyo.html">Grupos de Apoyo</a></li>
                  <li><a href="taromaterapia.html">Aromaterapia y Relajación</a></li>
                  <li><a href="tpsicosomaticas.html">Enfermedades Psicosomáticas</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conferencias</a>
                <ul class="dropdown-menu">
                  <li><a href="talleres.html">Talleres</a></li>
                  <li><a href="capacitaciones.html">Capacitaciones</a></li>
                  <li><a href="coaching.html">Coaching</a></li>
                </ul>
              </li>
              <li><a href="csocial.html">Compromiso Social</a></li>
              <li><a href="saludintegral.html">Salud Integral</a></li>
              <li><a href="donaciones.html">Donaciones y Ofrendas</a></li>
              <li><a href="testimonios.html">Testimonios</a></li>
              <li class="active"><a href="contacto.html">Contacto</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>

      <div id="title-bar">
        <div class="container">
          <h1>Contáctanos</h1>
        </div>
      </div>

      <div class="container contacto">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-md-8">
              <iframe width="100%" height="400px" frameborder="0" style="border:0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.9552565618083!2d-84.1538946852063!3d9.93768099289394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fc78546461cf%3A0xbbc75630145fd83a!2sYer+Kamay!5e0!3m2!1ses-419!2s!4v1469782833253" >
              </iframe>
              <h3><strong>Formulario de contacto</strong></h3>
              <form>
                <div class="form-group">
                  <label>Nombre</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label>Correo electrónico</label>
                  <input type="email" class="form-control">
                </div>
                <div class="form-group">
                  <label>Mensaje</label>
                  <textarea class="form-control"></textarea>
                </div>
                  <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
              </form>
            </div>
            <div class="col-md-4">
              <h3><strong>Para contactarnos</strong></h3>
              <p class="lead">Visítanos de Multiplaza Escazú 700 mts sur, <a href="https://goo.gl/maps/shzpdESmeSB2">Oficentro San Rafael</a> consultorio #2, Guachipelín de Escazú.</p>
              <p class="lead"><i class="fa fa-phone"></i><abbr title="Teléfono"></abbr>: (506) 7019-6699</p>
              <p class="lead"><i class="fa fa-envelope-o"></i><abbr title="Correo Electrónico"></abbr>: <a href="#">info@yerkamay.com</a></p>
              <p class="lead"><i class="fa fa-clock-o"></i><abbr title="Horario"></abbr>: Lunes - Viernes: 9:00 AM to 5:00 PM</p>
              <ul class="list-inline banner-social-buttons">
                <li><a href="https://www.facebook.com/centrodeterapiayerkamay/" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> 
                  <span class="network-name">Facebook</span></a>
                </li>
                <li><a href="https://mobile-web.world.waze.com/en_GB/meetup/location?h=d1u0t14en" 
                  class="btn btn-default btn-lg"><i class="fa fa-map-marker fa-fw"></i> 
                  <span class="network-name">Waze map</span></a>
                </li>
              </ul>
            </div>
            <img class="featurette-image img-responsive center-block" src="img/arboles/tree3.gif" alt="Generic placeholder image" width="340" height="340">
          </div>
        </div>
      </div>

          
      <div id="push"></div>

    </div> <!-- end wrap -->

    <div id="footer">
      <div class="container">
        <p>Yer Kamay Copyright &copy; 2016, All Rights Reserved</p>
        <ul class="list-inline banner-social-buttons">
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a></li>
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a></li>
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google</span></a></li>
        </ul>    
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>