<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Yer Kamay - Conferencias</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Ministerio</a></li>
              <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Terapias</a>
                <ul class="dropdown-menu">
                  <li><a href="tpsicologicas.html">Psicológicas</a></li>
                  <li><a href="tinfantil.html">Niños y Niñas</a></li>
                  <li><a href="tadolescentes.html">Adolescentes</a></li>
                  <li><a href="tespiritual.html">Espiritual / Consejería</a></li>
                  <li><a href="tgapoyo.html">Grupos de Apoyo</a></li>
                  <li><a href="taromaterapia.html">Aromaterapia y Relajación</a></li>
                  <li><a href="tpsicosomaticas.html">Enfermedades Psicosomáticas</a></li>
                </ul>
              </li>
              <li class="active dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conferencias</a>
                <ul class="dropdown-menu">
                  <li><a href="talleres.html">Talleres</a></li>
                  <li><a href="capacitaciones.html">Capacitaciones</a></li>
                  <li><a href="coaching.html">Coaching</a></li>
                </ul>
              </li>
              <li><a href="csocial.html">Compromiso Social</a></li>
              <li><a href="saludintegral.html">Salud Integral</a></li>
              <li><a href="donaciones.html">Donaciones y Ofrendas</a></li>
              <li><a href="testimonios.html">Testimonios</a></li>
              <li><a href="contacto.html">Contacto</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      
      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="img/arboles/tree4.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-4">
          <h2 class="featurette-heading text-center">Conferencias</h2>
          <p class="lead text-justify">Nuestras Conferencias son dinámicas y participativas, adaptadas al tiempo, tema y espacio  que usted lo requiera. La Dra. Nathaly Dután cuenta con una amplia trayectoria como conferencista,  ha impactado la vida de muchas personas a través de sus conferencia además de motivar a muchisimas personas a encontrar su propósito y construir sus propios sueños,  logra por medio del Espíritu Santo, hacer llegar el mensaje de una forma clara y perdurable.</p>
          <p class="lead text-justify">Los temas de las conferencias varían, su principal enfoque y llamado de Dios es a la liberación, sanidad y mover en lo sobrenatural del Espíritu Santo.</p> 
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="img/arboles/tree4.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="container centro">
        <div class="row">
          <div class="col-lg-4">
            <img class="img-circle" src="img/galeria/galeria25.jpg" alt="Generic placeholder image" width="340" height="340">
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="img/galeria/galeria27.jpg" alt="Generic placeholder image" width="340" height="340">
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="img-circle" src="img/galeria/galeria30.jpg" alt="Generic placeholder image" width="340" height="340">
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7 col-md-push-5">
            <form>
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Teléfono</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Correo electrónico</label>
                <input type="email" class="form-control">
              </div>
              <div class="form-group">
                <label>Organización / Iglesia</label>
                <input type="text" class="form-control">
              </div>
              <div class="form-group">
                <label>Tipo de Conferencia</label>
                <select class="form-control">
                  <option>Rompiendo Argumentos</option>
                  <option>Identidad de Hijos e Hijas de Dios</option>
                  <option>Espíritu Santo</option>
                  <option>Liberación</option>
                  <option>Reino de Dios</option>
                  <option>Escuela para Padres</option>
                  <option>Emprendeurismo</option>
                  <option>Mujer y la Biblia</option>
                  <option>Juventud</option>
                  <option>Liderazgo</option>
                  <option>Otro</option>
                </select>
              </div>
              <div class="form-group">
                <label>Establecimiento</label>
                <select class="form-control">
                  <option>Cuentan con lugar</option>
                  <option>Incluimos lugar en el presupuesto</option>
                  <option>Otro</option>
                </select>
              </div>
              <div class="form-group">
                <label>Equipo (Micrófono, audio, proyector, etc)</label>
                <select class="form-control">
                  <option>Cuentan con el equipo</option>
                  <option>Incluimos equipo en el presupuesto</option>
                  <option>Otro</option>
                </select>
              </div>
              <div class="form-group">
                <label>Mensaje</label>
                <textarea class="form-control"></textarea>
              </div>
                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </form>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <h2 class="featurette-heading">Temas Recomendados</h2>
            <ul class="lead">
              <li>Rompiendo Argumentos – Cambio de Pensamiento</li>
              <li>Identidad de Hijos e Hijas de Dios</li>
              <li>Espíritu Santo</li>
              <li>Liberación para los y las hijas de Dios</li>
              <li>Reino de Dios</li>
              <li>Escuela para Padres</li>
              <li>Emprendedurismo</li>
              <li>Mujer y la Biblia</li>
              <li>Juventud</li>
              <li>Liderazgo</li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container">
        <div class="row">
          <img class="featurette-image img-responsive center-block" src="img/arboles/tree2.jpg" alt="Generic placeholder image" width="340" height="340">
        </div>
      </div>
      
      <div id="push"></div>

    </div> <!-- end wrap -->

    <div id="footer">
      <div class="container">
        <p>Yer Kamay Copyright &copy; 2016, All Rights Reserved</p>    
        <ul class="list-inline banner-social-buttons">
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a></li>
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a></li>
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google</span></a></li>
        </ul>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>