<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link rel="shortcut icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet" th:href="@{/css/ie10-viewport-bug-workaround.css}"/>
		<link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
		<link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
		<title>Ministerio Internacional Yer Kamay</title>
	</head>
	<body>
		<div id="wrap">
			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
							aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html" th:href="@{/}">Ministerio</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Terapias</a>
								<ul class="dropdown-menu">
									<li><a href="tpsicologicas.html" th:href="@{/tpsicologicas}">Psicológicas</a></li>
									<li><a href="tinfantil.html" th:href="@{/tinfantil}">Niños y Niñas</a></li>
									<li><a href="tadolescentes.html" th:href="@{/tadolescentes}">Adolescentes</a></li>
									<li><a href="tespiritual.html" th:href="@{/tespiritual}">Espiritual / Consejería</a></li>
									<li><a href="tgapoyo.html" th:href="@{/tgapoyo}">Grupos de Apoyo</a></li>
									<li><a href="taromaterapia.html" th:href="@{/taromaterapia}">Aromaterapia y Relajación</a></li>
									<li><a href="tpsicosomaticas.html" th:href="@{/tpsicosomaticas}">Enfermedades Psicosomáticas</a></li>
								</ul>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conferencias</a>
								<ul class="dropdown-menu">
									<li><a href="talleres.html" th:href="@{/talleres}">Talleres</a></li>
									<li><a href="capacitaciones.html" th:href="@{/capacitaciones}">Capacitaciones</a></li>
									<li><a href="coaching.html" th:href="@{/coaching}">Coaching</a></li>
								</ul>
							</li>
							<li><a href="csocial.html" th:href="@{/csocial}">Compromiso Social</a></li>
							<li><a href="saludintegral.html" th:href="@{/saludintegral}">Salud Integral</a></li>
							<li><a href="donaciones.html" th:href="@{/donaciones}">Donaciones y Ofrendas</a></li>
							<li><a href="testimonios.html" th:href="@{/testimonios}">Testimonios</a></li>
							<li><a href="contacto.html" th:href="@{/contacto}">Contacto</a></li>
						</ul>
					</div> <!--/.navbar-collapse -->
				</div>
			</nav>
			<div class="container">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
						<li data-target="#carousel-example-generic" data-slide-to="3"></li>
						<li data-target="#carousel-example-generic" data-slide-to="4"></li>
						<li data-target="#carousel-example-generic" data-slide-to="5"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="../static/img/yerkamay/yerkamay-banner.jpg" th:src="@{img/yerkamay/yerkamay-banner.jpg}"/>
						</div>
						<div class="item">
							<img src="../static/img/galeria/galeria23.jpg" th:src="@{img/galeria/galeria23.jpg}"/>
						</div>
						<div class="item">
							<img src="../static/img/galeria/galeria2.jpg" th:src="@{img/galeria/galeria2.jpg}"/>
						</div>
						<div class="item">
							<img src="../static/img/galeria/galeria6.jpg" th:src="@{img/galeria/galeria6.jpg}"/>
						</div>
						<div class="item">
							<img src="../static/img/galeria/galeria31.jpg" th:src="@{img/galeria/galeria31.jpg}"/>
						</div>
						<div class="item">
							<img src="../static/img/galeria/galeria25.jpg" th:src="@{img/galeria/galeria25.jpg}"/>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"> 
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a> 
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"> 
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
			<div class="row featurette">
				<div class="container">
					<div class="col-md-7">
						<h2 class="featurette-heading">Nuestro Ministerio <span class="text-muted">¿Quiénes somos?</span></h2>
						<p class="lead text-justify">Yer Kamay es un ministerio cristiano, que nace en el corazón de Dios, la visión se escribe
							hace 7 años. En estos últimos años se han cimentando las bases, y conformado el liderazgo que Dios ha llamado, para seguir
							estableciendo el Reino de Dios en la tierra, donde el Espíritu Santo es quien dirige cada asamblea que realizamos.
						</p>
					</div>
					<div class="col-md-5">
						<img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree3.gif" 
							alt="Generic placeholder image" th:src="@{img/arboles/tree3.gif}"/>
					</div>
				</div>
			</div>
			<hr class="featurette-divider"/>
			<div class="row featurette">
				<div class="container">
					<div class="col-md-7 col-md-push-5">
						<h2 class="featurette-heading">Nuestra Filosofía <span class="text-muted">¿En qué creemos?</span></h2>
						<p class="lead text-justify">En un evangelio del Reino, en un evangelio de poder, en la sanidad y liberación, en la libertad
							verdadera, y sobre todo en el AMOR, no convencemos de pecado a nadie, esa es labor del Espíritu Santo. Creemos en Jesús como hijo
							de Dios. Creemos en la congruencia del actuar y el predicar, creemos que solo el poder del AMOR cambia vidas, y del amor
							verdadero que lo encontramos en Dios Padre, a través de su hijo Jesús, guiados por el Espíritu Santo.
						</p>
					</div>
					<div class="col-md-5 col-md-pull-7">
						<img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree3.gif" 
							alt="Generic placeholder image" th:src="@{img/arboles/tree3.gif}"/>
					</div>
				</div>
			</div>
			<hr class="featurette-divider"/>
			<div class="row">
				<div class="container">
					<iframe class="youtube-player center-block" width="760" height="458" src="https://www.youtube.com/embed/sWMYCXhk894" 
						th:src="@{https://www.youtube.com/embed/sWMYCXhk894}" frameborder="0" allowfullscreen="true"> 
					</iframe>
				</div>
			</div>
			<hr class="featurette-divider"/>
			<div class="row featurette">
				<div class="container">
					<div class="col-md-7">
						<h2 class="featurette-heading">Nuestro centro 
							<span class="text-muted">
								Creemos en la salud integral del ser humano, espíritu - alma (mente) - cuerpo
							</span>
						</h2>
						<p class="lead text-justify">Este centro nace en el corazón de Dios, como un lugar pionero de sanación y liberación, trayendo lo
							sobrenatural del Reino de Dios, nuestra misión es que cada persona encuentre su propósito de vida y tengan una vida plena.
						</p>
						<p>
							<a class="btn btn-lg btn-primary" href="centro.html" role="button">Leer más</a>
						</p>
					</div>
					<div class="col-md-5">
						<img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree3.gif" 
							alt="Generic placeholder image" th:src="@{img/arboles/tree3.gif}"/>
					</div>
				</div>
			</div>
			<hr class="featurette-divider"/>
			<div class="row featurette">
				<div class="container">
					<div class="col-md-7 col-md-push-5">
						<h2 class="featurette-heading">Directora y Terapeuta <span class="text-muted">Dra. Nathaly Dután</span></h2>
						<p class="lead text-justify">La Dra. Nathaly Dután, nacida en Azerbaiyán, de padre Ecuatoriano y madre Costarricense, con amplia
							experiencia en el área de trabajo social, desde hace más de 17 años ha realizado trabajos con jóvenes y mujeres en riesgo social
							en distintas áreas.
						</p>
						<p>
							<a class="btn btn-lg btn-primary" href="directora.html" role="button">Leer más</a>
						</p>
					</div>
					<div class="col-md-5 col-md-pull-7">
						<img class="featurette-image img-responsive center-block" src="../static/img/nathy/nathaly-dutan2.jpg" 
							alt="Generic placeholder image" th:src="@{img/nathy/nathaly-dutan2.jpg}"/>
					</div>
				</div>
			</div>
			<div id="push"></div>
		</div> <!-- end wrap -->
		<div id="page-footer" th:replace="fragments/footer :: footer">
			<div class="container">
				<p>Yer Kamay Copyright &copy; 2016, All Rights Reserved</p>
				<ul class="list-inline banner-social-buttons">
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a></li>
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a></li>
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google</span></a></li>
				</ul>
			</div>
		</div>
		<script src="../static/js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
		<script src="../static/js/ie-emulation-modes-warning.js" th:src="@{/js/ie-emulation-modes-warning.js}"></script>
		<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	</body>
</html>