<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link rel="shortcut icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet" th:href="@{/css/ie10-viewport-bug-workaround.css}"/>
		<link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
		<link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <title>Yer Kamay - Salud Integral</title>
  </head>
  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
            	aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html" th:href="@{/}">Ministerio</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Terapias</a>
                <ul class="dropdown-menu">
                  <li><a href="tpsicologicas.html" th:href="@{/tpsicologicas}">Psicológicas</a></li>
									<li><a href="tinfantil.html" th:href="@{/tinfantil}">Niños y Niñas</a></li>
									<li><a href="tadolescentes.html" th:href="@{/tadolescentes}">Adolescentes</a></li>
									<li><a href="tespiritual.html" th:href="@{/tespiritual}">Espiritual / Consejería</a></li>
									<li><a href="tgapoyo.html" th:href="@{/tgapoyo}">Grupos de Apoyo</a></li>
									<li><a href="taromaterapia.html" th:href="@{/taromaterapia}">Aromaterapia y Relajación</a></li>
									<li><a href="tpsicosomaticas.html" th:href="@{/tpsicosomaticas}">Enfermedades Psicosomáticas</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conferencias</a>
                <ul class="dropdown-menu">
                  <li><a href="talleres.html" th:href="@{/talleres}">Talleres</a></li>
									<li><a href="capacitaciones.html" th:href="@{/capacitaciones}">Capacitaciones</a></li>
									<li><a href="coaching.html" th:href="@{/coaching}">Coaching</a></li>
                </ul>
              </li>
              <li><a href="csocial.html" th:href="@{/csocial}">Compromiso Social</a></li>
							<li class="active"><a href="saludintegral.html" th:href="@{/saludintegral}">Salud Integral</a></li>
							<li><a href="donaciones.html" th:href="@{/donaciones}">Donaciones y Ofrendas</a></li>
							<li><a href="testimonios.html" th:href="@{/testimonios}">Testimonios</a></li>
							<li><a href="contacto.html" th:href="@{/contacto}">Contacto</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree4.jpg" 
          	alt="Generic placeholder image" th:src="@{img/arboles/tree4.jpg}"/>
        </div>
        <div class="col-md-4">
          <h2 class="featurette-heading text-center">Salud <span class="text-muted">Integral</span></h2>
          <p class="lead text-justify">
          	Si no tratamos el problema desde la raíz, la solución no será perdurable. Muchos de los síntomas como dolores 
          	de cabeza, espalda, gastritis, colitis, entre otros son causados por un conjunto de razones psicosomáticas, además 
          	de ligaduras espirituales que cargamos por muchos años. Te suenan las frases <strong><em>“quiero dejarlo pero no puedo”, 
          	“no se por que sigo pegada ahí”, “llevamos separados mas de x años y aún no lo supero” “quiero lograrlo pero algo me detiene” 
          	</em></strong>entre otras muchas que podría citar.
          </p>
          <p class="lead text-justify">
          	Cuando una situación a perdurado en el tiempo y se han probado varias opciones y el problema persiste, entonces es 
          	donde entra la parte espiritual. Es por eso que no se ha podido superar. La mayoría abordan la problemática al revés 
          	es decir, Cuerpo-Alma, dejando de lado el Espíritu, cuando es lo que realmente somos, <strong><em>un Espíritu, que 
          	tiene Alma (mente) y que habita un Cuerpo.</em></strong> El cuerpo solamente refleja cómo está nuestro interior.
          </p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree4.jpg" 
          	alt="Generic placeholder image" th:src="@{img/arboles/tree4.jpg}"/> 
        </div>
      </div>
      <hr class="featurette-divider"/>
      <div class="row featurette">
        <div class="container">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Programa de <span class="text-muted">Salud Integral</span></h2> 
            <p class="lead text-justify">
            	En Yer Kamay nos interesa que la Salud Integral sea para todas las personas, asi que diseñamos paquetes y diversas 
            	opciones que se pueden ajustar a sus necesidades y presupuesto. Por eso diseñamos este programa, hemos tenido muchos 
            	casos de éxito servicio garantizado, desde lograr que un niño superará su tartamudeo severo en 3 sesiones, hasta que 
            	en la primera y segunda sesión, se llegue a la raíz del problema y asi iniciar con el proceso de sanación en un período 
            	mucho más corto que lo normal.
            </p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="img-circle featurette-image img-responsive center-block" src="../static/img/salud-integral/sintegral2.png" 
            	alt="Generic placeholder image" th:scr="@{img/salud-integral/sintegral2.png}"/>
          </div>
        </div>
      </div>
      <hr class="featurette-divider"/>
      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Paquete de <span class="text-muted">Salud Integral</span></h2>
            <p class="lead text-justify">
            	Diseñamos un sistema 2 de 3, en nuestro Programa  de Salud Integral. Son 7 sesiones e incluye:
            </p>
            <ul class="lead text-justify">
              <li>Terapia de Psicología (7 sesiones)</li>
              <li>Nutrición (2 sesiones)</li>
              <li>Terapia Espiritual (opcional para el o la cliente)</li>
            </ul>
            <ul class="lead text-justify">
              <li><strong><em>La terapia de psicología y nutrición van de la mano.</em></strong></li>
              <li>
              	<strong><em>Las sesiones pueden variar dependiendo del caso, lo aquí especificado es un aproximado. 
              	El día del diagnóstico se les dará el número de sesiones recomendadas.</em></strong>
              </li>
              <li><strong><em>Las sesiones se programan de acuerdo a cada cliente.</em></strong></li>
              <li><strong><em>Se diseñan para todo público.</em></strong></li>
            </ul>     
          </div>
          <div class="col-md-5">
            <img class="img-circle featurette-image img-responsive center-block" src="../static/img/salud-integral/sintegral4.jpg" 
            	alt="Generic placeholder image" th:src="@{img/salud-integral/sintegral4.jpg}"/>
          </div>
        </div>
      </div>
      <hr class="featurette-divider"/>
      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Para mayor <span class="text-muted">información</span></h2>
            <p class="lead">
            	<em>Si quieres saber más no dudes en contactarnos</em>
            </p>
            <p>
            	<a class="btn btn-lg btn-primary" href="contacto.html" th:href="@{/contacto}" role="button">Cita Previa</a>
            </p>
          </div>
          <div class="col-md-5">
            <img class="img-circle featurette-image img-responsive center-block" src="../static/img/salud-integral/sintegral5.jpg" 
            	alt="Generic placeholder image" th:src="@{img/salud-integral/sintegral5.jpg}"/>
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div> <!-- end wrap -->
    <div id="page-footer" th:replace="fragments/footer :: footer">
			<div class="container">
				<p>Yer Kamay Copyright &copy; 2016, All Rights Reserved</p>
				<ul class="list-inline banner-social-buttons">
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a></li>
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a></li>
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google</span></a></li>
				</ul>
			</div>
		</div>
		<script src="../static/js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
		<script src="../static/js/ie-emulation-modes-warning.js" th:src="@{/js/ie-emulation-modes-warning.js}"></script>
		<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>