<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link rel="shortcut icon" href="../static/myfavicon.ico" type="image/x-icon" th:href="@{/myfavicon.ico}"/>
		<link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
		<link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet" th:href="@{/css/ie10-viewport-bug-workaround.css}"/>
		<link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
		<link href="../static/css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
    <title>Yer Kamay - Terapia para adolescentes</title>
  </head>
  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" 
            	aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html" th:href="@{/}">Ministerio</a></li>
              <li class="active dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Terapias</a>
                <ul class="dropdown-menu">
                  <li><a href="tpsicologicas.html" th:href="@{/tpsicologicas}">Psicológicas</a></li>
									<li><a href="tinfantil.html" th:href="@{/tinfantil}">Niños y Niñas</a></li>
									<li class="active"><a href="tadolescentes.html" th:href="@{/tadolescentes}">Adolescentes</a></li>
									<li><a href="tespiritual.html" th:href="@{/tespiritual}">Espiritual / Consejería</a></li>
									<li><a href="tgapoyo.html" th:href="@{/tgapoyo}">Grupos de Apoyo</a></li>
									<li><a href="taromaterapia.html" th:href="@{/taromaterapia}">Aromaterapia y Relajación</a></li>
									<li><a href="tpsicosomaticas.html" th:href="@{/tpsicosomaticas}">Enfermedades Psicosomáticas</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conferencias</a>
                <ul class="dropdown-menu">
                  <li><a href="talleres.html" th:href="@{/talleres}">Talleres</a></li>
									<li><a href="capacitaciones.html" th:href="@{/capacitaciones}">Capacitaciones</a></li>
									<li><a href="coaching.html" th:href="@{/coaching}">Coaching</a></li>
                </ul>
              </li>
              <li><a href="csocial.html" th:href="@{/csocial}">Compromiso Social</a></li>
							<li><a href="saludintegral.html" th:href="@{/saludintegral}">Salud Integral</a></li>
							<li><a href="donaciones.html" th:href="@{/donaciones}">Donaciones y Ofrendas</a></li>
							<li><a href="testimonios.html" th:href="@{/testimonios}">Testimonios</a></li>
							<li><a href="contacto.html" th:href="@{/contacto}">Contacto</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree4.jpg" 
          	alt="Generic placeholder image" th:src="@{img/arboles/tree4.jpg}"/>
        </div>
        <div class="col-md-4">
          <h2 class="featurette-heading text-center">Terapia para Adolescentes</h2>
          <p class="lead text-justify">
            La adolescencia es una etapa del desarrollo llena de cambios, tanto a nivel emocional como físico, y es la 
            edad en la que muchas veces surgen  situaciones que requieren apoyo profesional, para que tengan una guía, 
            y en otros casos para acompañarlos en el proceso de  sanación.
          </p>
          <p class="lead text-justify">
            Es muy importante, estar pendientes de ciertos cambios que pueden presentar los chicos y las chicas a esa edad, 
            y no pasar por alto muchas de las alertas que nos dan, los casos de suicidios, anorexia, bulimia, consumo de sustancias, 
            abusos, agresión, entre otros, que son nocivos para ellos, inician en esta etapa del desarrollo.
          </p>
          <p class="lead text-justify">
            Si eres adolescente y necesitas apoyo en la situación que estás pasando no dudes en contactarnos, y si eres padre de familia, 
            recuerda que la atención a tiempo salva vidas.
          </p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="../static/img/arboles/tree4.jpg" 
          	alt="Generic placeholder image" th:src="@{img/arboles/tree4.jpg}"/>
        </div>
      </div>
      <hr class="featurette-divider"/>
      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Para mayor <span class="text-muted">información</span></h2>
            <p class="lead">
            	<em>Consulta nuestro sistema de <a href="becas.html" th:href="@{/becas}">becas</a> o si quieres saber más 
            	no dudes en contactarnos</em>
            </p>
            <p><a class="btn btn-lg btn-primary" href="contacto.html" th:href="@{/contacto}" role="button">Cita Previa</a></p>
          </div>
          <div class="col-md-5">
            <img class="img-circle featurette-image img-responsive center-block" src="../static/img/terapia-adolescentes/adolescencia1.jpg" 
            	alt="Generic placeholder image" th:src="@{img/terapia-adolescentes/adolescencia1.jpg}"/>
          </div>
        </div>
      </div>
      <div id="push"></div>
    </div> <!-- end wrap -->
    <div id="page-footer" th:replace="fragments/footer :: footer">
			<div class="container">
				<p>Yer Kamay Copyright &copy; 2016, All Rights Reserved</p>
				<ul class="list-inline banner-social-buttons">
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a></li>
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a></li>
					<li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google</span></a></li>
				</ul>
			</div>
		</div>
		<script src="../static/js/ie10-viewport-bug-workaround.js" th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
		<script src="../static/js/ie-emulation-modes-warning.js" th:src="@{/js/ie-emulation-modes-warning.js}"></script>
		<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
		<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>