<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Yer Kamay - Terapias</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Ministerio</a></li>
              <li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Terapias</a>
                <ul class="dropdown-menu">
                  <li class="active"><a href="tpsicologicas.html">Psicológicas</a></li>
                  <li><a href="tinfantil.html">Niños y Niñas</a></li>
                  <li><a href="tadolescentes.html">Adolescentes</a></li>
                  <li><a href="tespiritual.html">Espiritual / Consejería</a></li>
                  <li><a href="tgapoyo.html">Grupos de Apoyo</a></li>
                  <li><a href="taromaterapia.html">Aromaterapia y Relajación</a></li>
                  <li><a href="tpsicosomaticas.html">Enfermedades Psicosomáticas</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conferencias</a>
                <ul class="dropdown-menu">
                  <li><a href="talleres.html">Talleres</a></li>
                  <li><a href="capacitaciones.html">Capacitaciones</a></li>
                  <li><a href="coaching.html">Coaching</a></li>
                </ul>
              </li>
              <li><a href="csocial.html">Compromiso Social</a></li>
              <li><a href="saludintegral.html">Salud Integral</a></li>
              <li><a href="donaciones.html">Donaciones y Ofrendas</a></li>
              <li><a href="testimonios.html">Testimonios</a></li>
              <li><a href="contacto.html">Contacto</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      
      <div id="title-bar">
        <div class="container">
          <h1>“Invertir en tu salud mental es invertir para toda la vida”</h1>
        </div>
      </div>

      <div id="terapias">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img class="featurette-image img-responsive center-block" src="img/arboles/tree1.jpg">
              <p class="lead text-center">
                <em><strong>“Hay momentos en la vida donde debemos seguir nuestro propio rumbo, vence el miedo”</strong></em>
              </p>
            </div>
            <div class="col-md-8">
              <h2>Terapias Psicológicas</h2>
              <p class="lead">
                <em><strong>"La salud debe ser integral, espíritu, alma y cuerpo, solo asi lograremos el equilibrio en nuestra vida.</strong></em>
              </p><br>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Terapias Psicológicas
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body lead">
                      <ul>
                        <li>Individual (niños, jóvenes y/o adultos)</li>
                        <li>Pareja</li>
                        <li>Familia</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Técnicas Terapéuticas Alternativas 
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body lead">
                      <ul>
                        <li>Aromaterapia</li>
                        <li>Musicoterapia</li>
                        <li>Arteterapia</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Terapia Espiritual
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body lead">
                      <ul>
                        <li>Ofrecemos consejería y terapia espiritual</li>
                      </ul> 
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Enfermedades Psicosomáticas
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body lead">
                      <ul>
                        <li>Enfermedades Psicosomáticas son enfermedades de la mente (alma), que se evidencia en el cuerpo.</li>
                        <li>Ofrecemos detección y tratamiento de este tipo de enfermedad.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Grupos de Apoyo
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body lead">
                      <ul>
                        <li>Duelo</li>
                        <li>Divorcio</li>
                        <li>Víctimas de Bullying</li>
                        <li>Guía - Carrera Profesional</li>
                        <li>Padres de Adolescentes</li>
                        <li>Mujeres - Víctimas de Violencia</li>
                        <li>Mujeres - Empoderamiento</li>
                        <li>Codependencia - Dependencia</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Tratamientos
                      </a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body lead">
                      <ul>
                        <li>Estrés, Ansiedad, Depresión, Angustia</li>
                        <li>Divorcio, Duelo, Estrés postraumático</li>
                        <li>Síntomas en niños, tartamudeo, encopresis, enuresis, déficit atencional, asperger</li>
                        <li>Pareja:  Proceso de separación, sexualidad, comunicación, hijos, violencia</li>
                        <li>Familia: Fallecimiento de un miembro, hijos adolescentes, enfermedad</li>
                        <li>Mujeres - Víctimas de Violencia</li>
                        <br>
                        <p><strong><em>Lo antes citado son algunos de los muchos ejemplos que requieren la ayuda profesional para superar la situación y seguir viviendo en plenitud.</em></strong></p>
                      </ul>
                    </div>
                  </div>
                </div>
              </div> <!-- acordion end -->
            </div>
          </div>
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Para mayor <span class="text-muted">información</span></h2>
            <p class="lead"><em>Si quieres saber más no dudes en contactarnos</em></p>
            <p><a class="btn btn-lg btn-primary" href="contacto.html" role="button">Cita Previa</a></p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="img/arboles/tree1.jpg" alt="Generic placeholder image" width="350" height="350">
          </div>
        </div>
      </div>

      <div id="push"></div>

    </div> <!-- end wrap -->

    <div id="footer">
      <div class="container">
        <p>Yer Kamay Copyright &copy; 2016, All Rights Reserved</p>
        <ul class="list-inline banner-social-buttons">
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a></li>
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a></li>
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google</span></a></li>
        </ul>    
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>