<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Yer Kamay - Terapias</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Ministerio</a></li>
              <li class="active dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Terapias</a>
                <ul class="dropdown-menu">
                  <li><a href="tpsicologicas.html">Psicológicas</a></li>
                  <li><a href="tinfantil.html">Niños y Niñas</a></li>
                  <li><a href="tadolescentes.html">Adolescentes</a></li>
                  <li><a href="tespiritual.html">Espiritual / Consejería</a></li>
                  <li><a href="tgapoyo.html">Grupos de Apoyo</a></li>
                  <li><a href="taromaterapia.html">Aromaterapia y Relajación</a></li>
                  <li class="active"><a href="tpsicosomaticas.html">Enfermedades Psicosomáticas</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Conferencias</a>
                <ul class="dropdown-menu">
                  <li><a href="talleres.html">Talleres</a></li>
                  <li><a href="capacitaciones.html">Capacitaciones</a></li>
                  <li><a href="coaching.html">Coaching</a></li>
                </ul>
              </li>
              <li><a href="csocial.html">Compromiso Social</a></li>
              <li><a href="saludintegral.html">Salud Integral</a></li>
              <li><a href="donaciones.html">Donaciones y Ofrendas</a></li>
              <li><a href="testimonios.html">Testimonios</a></li>
              <li><a href="contacto.html">Contacto</a></li>
            </ul>
          </div><!--/.navbar-collapse -->
        </div>
      </nav>
      
      <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="img/arboles/tree4.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-4">
          <h2 class="featurette-heading text-center">Detección y Tratamiento Enfermedades Psicosomáticas</h2>
          <p class="lead text-justify">Muchas de las enfermedades y dolencias que tenemos no son tratadas desde la causa, por eso no se curan sino que los síntomas persisten. <strong><em>Enfermedades Psicosomáticas son enfermedades de la mente (alma), que se evidencia en el cuerpo.</em></strong></p>
          <p class="lead text-justify">A continuación algunos ejemplos de este tipo de enfermedad. Si no vamos  a la causa y escuchamos que nos está diciendo el cuerpo, no encontraremos la cura integral. <strong><em>La cura viene desde el espíritu hasta el cuerpo pasando por las emociones.</em></strong> Una terapia incluye sesión y diagnóstico. El tratamiento se evalúa en la terapia y es distinto para cada caso. Se realizan paquetes especiales de acuerdo a su necesidad.</p>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive center-block" src="img/arboles/tree4.jpg" alt="Generic placeholder image">
        </div>
      </div>
      
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Ejemplos - <span class="text-muted">Estómago:</span></h2> 
            <p class="lead text-justify">Los problemas estomacales más comunes son las úlceras, la gastritis, las hemorragias gástricas, los cánceres y los problemas de digestión tales como vómitos, indigestión, etc. “La persona que los padece manifiesta <strong><em>intolerancia y temor</em></strong> ante lo que no es de su agrado. <strong><em>Se resiste a las ideas nuevas</em></strong>, sobre todo a las que no proceden de ella. Tiene <strong><em>dificultad para adaptarse</em></strong> a alguien o a algo que va contra sus planes, sus hábitos y su manera de vivir. Tiene un crítico interior muy fuerte que <strong><em>le impide ceder y dejar hablar a su corazón</em></strong>, al cual no quiere aceptar incondicionalmente. Es posible que también se <strong><em>acuse a sí misma</em></strong> de falta de audacia.”</p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="img-circle featurette-image img-responsive center-block" src="img/enfermedades/psicosomatica1.jpg" alt="Generic placeholder image">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Ejemplos - <span class="text-muted">Tendinitis:</span></h2>
            <p class="lead text-justify">“La persona que sufre tendinitis siente o ha sentido un <strong><em>enojo reprimido</em></strong>. Es alguien que se impide hacer algo por <strong><em>miedo</em></strong> a una ruptura. El lugar del cuerpo afectado indica el área en la que se sitúa el miedo; si por ejemplo, es en una mano, la persona afectada debe observar qué se impide hacer con ella que pudiera ocasionar una ruptura de la cual se sentiría <strong><em>culpable”</em></strong></p>
          </div>
          <div class="col-md-5">
            <img class="img-circle featurette-image img-responsive center-block" src="img/enfermedades/psicosomatica2.jpg" alt="Generic placeholder image">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="container">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Ejemplos - <span class="text-muted">Estreñimiento:</span></h2>
            <p class="lead text-justify">“Tiene una relación directa con soltar viejos pensamientos que ya no son útiles. Una persona que retiene sus heces es aquella que <strong><em>se contiene generalmente de decir o hacer algo por miedo</em></strong> a disgustar o a perder algo o a alguien”</p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img class="img-circle featurette-image img-responsive center-block" src="img/enfermedades/psicosomatica3.jpg" alt="Generic placeholder image">
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row">
        <div class="container">
          <iframe class="youtube-player center-block" width="760" height="458" src="https://www.youtube.com/embed/BvBqSNkCe2A" 
            frameborder="0" allowfullscreen>
          </iframe>
        </div>
      </div>

      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="container">
          <div class="col-md-7">
            <h2 class="featurette-heading">Para mayor <span class="text-muted">información</span></h2>
            <p class="lead"><em>Si quieres saber más no dudes en contactarnos</em></p>
            <p><a class="btn btn-lg btn-primary" href="contacto.html" role="button">Cita Previa</a></p>
          </div>
          <div class="col-md-5">
            <img class="img-circle featurette-image img-responsive center-block" src="img/enfermedades/psicosomatica4.jpg" alt="Generic placeholder image">
          </div>
        </div>
      </div>

      <div id="push"></div>

    </div> <!-- end wrap -->

    <div id="footer">
      <div class="container">
        <p>Yer Kamay Copyright &copy; 2016, All Rights Reserved</p>    
        <ul class="list-inline banner-social-buttons">
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i><span class="network-name">Facebook</span></a></li>
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i><span class="network-name">Twitter</span></a></li>
          <li><a href="#" class="btn btn-default btn-sm"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">Google</span></a></li>
        </ul>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>